@import url(https://fonts.googleapis.com/css?family=Lato:300);

body {
    background-color: #000000;
    font-family: 'Lato';
    color: white;
    font-weight: 300;
}
h1 {
    position: absolute;
    top:0;
    left: 100px;
    text-align: center;
    text-transform: uppercase;
    font-size: larger;
    padding: 10px;
}

table {
    position: absolute;
    left: 100px;
    top: 100px;
}

.navigation {
    width: 200px;
    text-transform: uppercase;
    float: right;
}

.navigation ul {
    background-color: #37383a;
    cursor: pointer;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.navigation .header {
    padding: 15px;
    background-color: #4e5053;
}

.navigation li {
    padding: 15px;
}

.navigation .selected {
    background-color: #9061b2;
}

.price {
    font-size: 36px;
    margin: 15px;
    color: #afb3b9;
}

.title {
    font-size: 18px;
}

.title a {
    text-decoration: none;
    color: #fff;
}

.author {
    font-size: 16px;
}

select.navigation{
   width:150px;
}

/**
 * Changed to a <b> because React wraps text nodes in
 * <span> elements if they have non-text-node siblings.
 */
.author b {
    color: #afb3b9;
}
div.floating-menu {position:fixed; right:0; background:#fff4c8;border:1px solid #ffcc00;width:150px;z-index:100;}
div.floating-menu a,div.div.floating-menu h3 {display:block;margin:0 0.5em;}

.floating-title {position:fixed; background:black;border:1px solid #ffcc00;width:500px;height:20px;z-index:100;}

/* ------------- New -----*/

body{
  padding:0;
  margin: 0;
}


.card {
  outline: thin solid black;
  border: thin solid black;
  border-radius:20px;
  margin:0 1rem 1rem;
  background: #2d2d2d;
  width:400px; /* or whatever width you want. */
  height: 240px;
  display: inline-block;
  vertical-align: top;
  border: 1px;
}

.card_info {
  float:left;
  height: 150px;
  width: 180px;

}
.card_name {
  font-size: 1.5rem;

}

.card_address {
  font-size: 1rem;
  line-height: 1rem;
  margin: 10px;

}

.card_img{
  vertical-align: top;
  margin:10px;
  float:right;
  width: 200px;
  max-height: 200px;
}


/* ------------------------------------------ */
/*
  white-space:nowrap;
  overflow-y:inherit;
  overflow-x:hidden;
  - ms-overflow-style:-ms-autohiding-scrollbar;
overflow:auto; width:400px;height:400px;
*/
.cards_container{
  /* The width of mydocument */
  position: fixed;
  top: 80px;
  height:100%;
  padding-right:200px;
  margin-bottom:180px;
  overflow: auto;
}
